.block {
    background-color: green;
    width: calc(100% - 50px);
}

.carte {
    background-color: #fff;
    display: flex;
    flex-direction: row;;
    flex-wrap: wrap;
    gap: 20px
    &:hover {
        width: 870px;
        .details {
            height: 70px;
        }
    }
    &.block {
        background-color: red;
    }
    .details {
        height: auto;
        width: 33%;
        flex: 1 1 20%;
        flex-basis: 30%;
    }
}

