* {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  main{
    margin:0 auto; 
  }

  a{

    text-decoration: none;
    color:inherit;
  }

  h3,p {
    margin:0 ;
  }