@media screen and (min-width:769px) and (max-width: 992px){

/*home page*/


.cityplaceholder{
    background-color:#F6F6F6;
}
.location{
    background-color:#F6F6F6;


}
.explorer{
    background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6); 
}

.explorer p {
margin-bottom: 30px;


}

.explorer h2{

    margin-top:30px;
}
.explorer button{
    margin-bottom:30px;
}

.functioning{ 

    h2{
        display: flex;
        justify-content: center;
    }
.list{
   
    display: flex;
    justify-content: center;
    margin-left:25%;
    margin-right: 25%;
    text-align: center;
    width:370px; 
    margin: 0 auto;
    & li{
        width:300px;

       
        
    }
}
}

.restaurant{

    h2{
        display: flex;
        justify-content: center;
        font-size:30px;
        padding-bottom:30px;
    }   

}
.restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}


.footerlist{
    display: flex;
    flex-direction: center;
    margin:0 auto;
    width:70%;
}
footer h2{
    display: flex;
    justify-content: center;
    font-size:35px;
   
}


footer p {

    display: flex;
    justify-content: center;
    flex-direction: row;
   font-size:18px;
   padding:4px;


}

footer i {
  margin:0;
  padding-right:10px;
}


/* restaurant pages */

.menu-page{
    margin:100px;
}

.order button{

   width:33%;
}

.img_restaurant_crop{
    min-height: 500px;
  width: 100%;
}


}










@media screen and (min-width:993px){
    .img_restaurant{
      max-height: 500px;
      width: 100%;
    }
    .img_restaurant_crop{
        min-height: 500px;
      width: 100%;
    }

    main{
        max-width: 1400px;
    }

    .cityplaceholder{
        background-color:#F6F6F6;
    }
    .location{
      background-color:#F6F6F6;
        
        }

        .explorer{
            background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6); 
        }
        .explorer p {
        margin-bottom: 30px;
        
        }
        
        .explorer h2{
        
            padding-top:50px;
        }
        .explorer button{
            margin-bottom:30px;
        }

.functioning{
    
    h2{
        display: flex;
        justify-content: center;
        font-size:30px;
        margin-bottom:50px;
        
    }
.list{
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:95%;
    gap:30px;
}

}

.restaurant{

    h2{
        display: flex;
        justify-content: center;
        font-size:30px;
        padding-bottom:30px;
    }   

}
.restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);}



.restaurant__main{
    margin-bottom: 50px;
    h2{
        font-size:40px;
        i{
            font-size:40px;
        }
    }
  
}





.menu-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
   max-width: 1500px;
  
    
 }



.starter{
    width:30%;
    
   
}
.dish{
    width:30%;
}
.dessert{
    width:30%}



 

 
 








 
.footerlist{
    display: flex;
    flex-direction: center;
    justify-content: space-between;
   margin: 0 auto;
    width:70%;
}
footer h2{
    display: flex;
    justify-content: center;
    font-size:35px;
 
}


footer p {

    display: flex;
    justify-content: center;
    flex-direction: row;
   font-size:18px;


}

footer i {
    margin:0;
    padding-right:10px;
  }


.order button{
    margin-top: 50px;
    width:33%;
 }



}

@media screen and (min-width:300px) and (max-width: 400px){

    .restaurant__main h2{
        font-size:24px;
       i{
        font-size: 28px;
       }
    }


}