@-webkit-keyframes rotate{
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform:rotate(0);
    }
}



@-webkit-keyframes appear {
    0%{
        opacity:0;
        transform: translateY(+20px);
        
    }
    100%{
    opacity:1;

    }
}


@-webkit-keyframes spinner{
    from{
       opacity: 1;
    }
    to{
      opacity: 0;
      z-index: -1;
      display: none;
    }
  }

  @-webkit-keyframes spin{
    to{
      transform: rotate(360deg);
    }
  }