@use  "../mixins/box_shadow.scss";
@use "../mixins/hover_scale.scss";

.explorer {
    text-align: center;
    background-image: linear-gradient(to top, #F3F3F3, white);
    & h2 {
     padding-top: 25px;
      font-size: 25px;
    }
    & p {
      font-size: 20px;
      
    }
    & button {
      padding: 20px 20px;
      border: none;
      border-radius: 40px;
      font-weight: 300;
      color: white;
      font-size: 20px;
      background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
      transition: 200ms;
      margin-bottom: 10%;
      @include box_shadow.box_shadow;
    }
    & button:hover {
      @include hover_scale.hover_scale;
    }
  }