@use "../mixins/box_shadow.scss";
@use "../mixins/hover_scale.scss";
@use "../mixins/colors.scss";


.functioning{
    & h2{
        margin-left:24px;
    }
    & ol{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap:15px;
        cursor:pointer;
        
         
    & li{
        width:95%;
        position:relative;
        background-color: #F6F6F6;
        padding: 20px 20px;
        border-radius:20px;
        transition: 200ms;
        font-weight: bold;
        @include box_shadow.box_shadow;
       &:hover{
        @include hover_scale.hover_scale;
        background-color: rgb(234, 204, 237);
        opacity:0.8;
        i{
            color:colors.$purple;
        }
       }
       & i{
        margin-right:25px;
        color:colors.$lightgrey;
        font-size:20px;
        padding-left:10px;
        display: inline-block;
        &:hover{
           color:  colors.$purple ;
        }
       }
       & span{
        color:white;
        background-color: colors.$purple;
        display:grid;
        place-items:center;
        width:25px;  
        height:25px;
        border-radius:50%;
        position: absolute;
        top:20px;
        left:-15px;
       }
    }
}
}