@use "../mixins/_colors.scss";


.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:#F6F6F6;
    text-align: center;
    padding: 0;
    border: none;
    height: 50px;
    
    
  
    & .mapdot {
      font-size: x-large;
      margin-top: 25px;
      align-items: center;
    }
  }
  
  .search{
    font-weight: 600;
    text-align: center;
    border:none;
    background-color: #F6F6F6;
    font-size: 19px;
    
  }

  .cityplaceholder{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color:#F6F6F6;
    position: relative;
    outline: none;
    height:25px;
    
    
}
   
  