@use "../mixins/homecard.scss";
@use "../mixins/colors.scss";

.restaurant{
    background-color: #F6F6F6;
    position: relative;
    gap: 20px;
    & h2 {
        margin-left:24px;
        padding-top:50px;
        font-weight: 900;
    }
}

.cards__text{

    position:relative;

   
    h3,p {
      margin: 8px;
      
    }
    i{
        font-size:25px;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right:5%;
    }  
 }





    .cards{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom:10%;
        margin-left:5%;
        margin-right:5%;
        border-radius:0px 0px 20px 20px;
        box-shadow: 2px 14px 29px -6px rgba(0, 0, 0, 0.32);       
         &__img-1{
        @include homecard.homecard_size;
        background-image: url(../assets/restaurant-1.jpg);
    }
        &__img-2{
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-2.jpg);
        }
        &__img-3{
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-3.jpg);
        }
        &__img-4    {
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-4.jpg);
        }
       &__badge{
        position: absolute;
        height:30px;
        width:90px;
        background-color: colors.$lightgreen;
        display:grid;
        place-items:center;
        right:25px;
        top:20px;
        font-weight: bold;
        text-decoration: none;
        color:rgb(33, 105, 7);
       }

    }
   
   

