@use "../mixins/_homecard.scss";
@use "../mixins/_colors.scss";

.restaurant{
    background-color: #F6F6F6;
    position: relative;
    gap: 20px;
    & h2 {
        margin-left:24px;
        padding-top:50px;
        font-weight: 900;
    }
}

.cards__text{

    position:relative;

    h3{
        padding-top: 15px;

    }
    p{
        padding-bottom: 15px;
    }

    h3,p {
      margin: 8px;
      padding-left: 10px;
      
      margin:0 auto;
      
    }
    i{
        font-size:25px;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right:5%;
        font-weight:500;
        &:hover{
            opacity: 0;
            
        }
    }  
    .animatedheart{
        color:transparent;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(225, 121, 218, 1));
        background-clip: text;
        -webkit-background-clip: text;
        opacity :0;
        transition: all  ease-in-out;
        font-weight:900;
        
       
    }
    &:hover .animatedheart{
       opacity: 1;
       transition-duration: 300ms;
      
    }
 }


    .cards{
        position: relative;
        display: flex;
        flex-direction: column;
        
        margin-bottom:10%;
        margin-left:5%;
        margin-right:5%;
        border-radius:0px 0px 20px 20px;
        box-shadow: 2px 14px 29px -6px rgba(0, 0, 0, 0.32);       
         &__img-1{
        @include homecard.homecard_size;
        background-image: url(../assets/restaurant-1.jpg);
    }
        &__img-2{
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-2.jpg);
        }
        &__img-3{
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-3.jpg);
        }
        &__img-4    {
            @include homecard.homecard_size;
            background-image: url(../assets/restaurant-4.jpg);
        }
       &__badge{
        position: absolute;
        height:30px;
        width:90px;
        background-color: colors.$lightgreen;
        display:grid;
        place-items:center;
        right:25px;
        top:20px;
        font-weight: bold;
        text-decoration: none;
        color:rgb(33, 105, 7);
       }

    }
   
   

