@use "../mixins/homecard.scss";
@use "../mixins/colors.scss";

.restaurant{
    background-color: #F6F6F6;
    position: relative;
    gap: 20px;
    & h2 {
        margin-left:24px;
        padding-top:50px;
        font-weight: 900;
    }
}

.cards__text{

    position:relative;

   
    h3,p {
      margin: 8px;
      
    }
    i{
        font-size:25px;
        position:absolute;
        top:50%;
        right:5%;
        transform: translateY(-50%);
    }  
 }


.badge{
    position: absolute;
    height:30px;
    width:90px;
    background-color: colors.$lightgreen;
    display:grid;
    place-items:center;
    right:25px;
    margin-top:5%;
    margin-right: 2%;
    font-weight: bold;
    text-decoration: none;
    color:rgb(33, 105, 7);
    opacity: 0.9;
   }




    .cards{
        position: relative;
        display: flex;
        flex-direction: column;
        gap:20px;
        margin-left:2.5%;
        margin-right:2.5%;
        &__img-1{
        @include homecard.homecard_size;
        background-image: url(../../../assets/restaurant1.jpg);
    }
        &__img-2{
            @include homecard.homecard_size;
            background-image: url(../../../assets/restaurant2.jpg);
        }
        &__img-3{
            @include homecard.homecard_size;
            background-image: url(../../../assets/restaurant3.jpg);
        }
        &__img-4    {
            @include homecard.homecard_size;
            background-image: url(../../../assets/restaurant4.jpg);
        }
       

    }
   
   

