@use "../mixins/colors.scss";
@use "../mixins/hover_scale.scss";
@use "../mixins/box_shadow.scss";
@use "../mixins/animations.scss";
@import "../mixins/animations.scss";


body{
    background-color: colors.$brightgrey;
}




header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .arrow{
        position:  absolute;
        left:15px;
        top:15px;
        font-size: 20px;
    }
}


.img_restaurant{
    max-width:100%;
    max-height: 60%;
    object-fit: cover;
    display: block;
    margin-bottom: -18px;
}

.restaurant__main {
    h2{
    font-family: "shrikhand","sans-serif";
    position: relative;
    display: flex;
    gap:40px;
    margin-top:-35px;
    align-items: center;
    background-color:colors.$brightgrey;
    border-radius:40px 40px  0 0;
    justify-content: center;
    padding-top:5%;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 50px;
    i{
        font-size:29px;
        &:hover{
           
            color:transparent;
            background-image: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(225, 121, 218, 1));
            background-clip: text;
            -webkit-background-clip: text;
            opacity :1;
            transition: all  ease-in-out;
            font-weight:900;
            
        }
    }  
}

}

.menu-page{
    background-color:colors.$brightgrey;
    padding: 0 1rem;
    gap:2rem;
    display: flex;
    flex-direction: column;
    h3{
        margin:0;
        font-weight:300;
        font-size:24px;
        padding:0;
        
    }
    
    
    .dishtype  {
     margin-top:20px;
    
     .delay-1{
        animation:appear 3s;
        animation-delay: 100ms;
     }
     .delay-2{
        animation:appear 3s;
        animation-delay:150ms;
     }
     .delay-3{
        animation:appear 3s;
        animation-delay: 200ms;
     }

        h4,p{
            padding:0;
            margin:0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow:hidden;
        }
    }
    .menu-description{
       
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        border-radius:1rem;
        display:flex;
        @include box_shadow.box-shadow ;
        
        
        .price{
            margin-left: auto;
            font-weight: 900;
            padding:18px;
            display: flex;
            align-items: flex-end;
            
        }
        .menu__checkmark{
            background-color: colors.$lightgreen;
            margin-right:-60px;
            width: 60px ;
           
            display: grid;
            place-items: center;
            transition: 500ms;
        }
        i{
            display:grid;
            place-items: center;
           font-size:20px;
           background:white;
           aspect-ratio:1 ;
           width:2rem;
           border-radius:1rem;
           color:colors.$lightgreen;
           
        }
        &:hover {
        .menu__checkmark{
            margin-right:0;
            
        }
        i{
            animation-name: rotate;
            animation-duration: 800ms;
        }
            }
           
    }
    .menu-description__content{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        padding:18px;
        
      
     
        
    }
   
}



    
     
    












.underline{
    width: 60px;
    border: 2px solid #99E2D0;
    background:#99E2D0;
    
}




















.order{
    display: flex;
    justify-content: center;
    margin-top: 40px;
     button{
        display: flex;
        justify-content: center;
        padding: 20px 20px;
        width:60%;
          border: none;
          border-radius: 40px;
          font-weight: 300;
          color: white;
          font-size: 20px;
          background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
          transition: 200ms;
          margin-bottom: 10%;
          @include box_shadow.box_shadow;
          &:hover {
            @include hover_scale.hover_scale;
          }
        }
    
        

    }
     
